<nav class="container">
    <ul>
        <li><strong><a href="/libros" class="nav-brand">📚 Mi Estantería</a></strong></li>
    </ul>
    <ul>
        <li><a href="/libros">Libros</a></li>
        <li><a href="/estadisticas">Estadísticas</a></li>
        <li><a href="/libros/nuevo" role="button">+ Añadir libro</a></li>
    </ul>
</nav>